.header-nav {
  position: fixed !important;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #001e5c;
  box-shadow: 2px 2px 10px 5px rgba(0, 30, 92, 0.5019607843);
  position: relative;
}
.header-nav .container-grid {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav .container-grid .container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #dadada;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 5px;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 5px;
}
.header-nav .container-grid .container-left .wrapper-menu .menu-list {
  list-style: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: 100vw;
  background-color: #001e5c;
  box-shadow: 2px 2px 10px 5px rgba(0, 30, 92, 0.5019607843);
}
.header-nav .container-grid .container-left .wrapper-menu .menu-list .container-grid {
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) {
  .header-nav .container-grid .container-left .wrapper-menu .menu-list .container-grid {
    justify-content: space-between;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-nav .container-grid .container-left .wrapper-menu .menu-list .list-item {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
  color: #dadada;
  cursor: pointer;
  width: 100%;
}
@media (min-width: 769px) {
  .header-nav .container-grid .container-left .wrapper-menu .menu-list .list-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom: 0;
    position: relative;
    width: fit-content;
  }
  .header-nav .container-grid .container-left .wrapper-menu .menu-list .list-item:after {
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    left: -20%;
    height: 2px;
    width: 0%;
    transition: width ease-in 0.3s;
    background-color: #dadada;
  }
  .header-nav .container-grid .container-left .wrapper-menu .menu-list .list-item:hover:after {
    width: 140%;
  }
}
.header-nav .container-grid .container-left .wrapper-menu .menu-list .list-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.header-nav .container-grid .container-left .title-img {
  width: 40px;
  aspect-ratio: 191/263;
}
.header-nav .container-grid .container-left .title-img .picture {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: invert(1);
}
.header-nav .container-grid .container-right .wrapper-favourites {
  width: 60px;
  height: 64px;
  position: relative;
}
.header-nav .container-grid .container-right .wrapper-favourites .picture {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header-nav .container-grid .container-right .wrapper-favourites .picture.bg {
  display: none;
}
.header-nav .container-grid .container-right .wrapper-favourites .info {
  background-color: #dadada;
  color: #001e5c;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  z-index: 1001;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 20px);
  width: 200px;
  border-radius: 5px;
  display: none;
}
.header-nav .container-grid .container-right .wrapper-favourites .info:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #dadada;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.header-nav .container-grid .container-right .wrapper-favourites:hover .picture {
  display: none;
}
.header-nav .container-grid .container-right .wrapper-favourites:hover .picture.bg {
  display: block;
}
.header-nav .container-grid .container-right .wrapper-favourites:hover .info {
  display: block;
}

@media (max-width: 480px) {
  .header-nav .container-grid .container-left .wrapper-menu .wrapper-menu-image {
    transform: scale(0.8);
  }
  .header-nav .container-grid .container-left .title-img {
    width: 30px;
  }
  .header-nav .container-grid .container-right .wrapper-favourites {
    width: 40px;
    height: 42px;
  }
}
@media (min-width: 1441px) {
  .header-nav .container-grid {
    padding: 16px 48px;
  }
}
.wrapper-list-games {
  background-color: #d5d4b3;
}
.wrapper-list-games .container-grid {
  padding: 48px 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.wrapper-list-games .container-grid .link-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(218, 218, 218, 0.5019607843);
  border: 1px solid rgba(218, 218, 218, 0.5019607843);
  border-radius: 20px;
  padding: 16px;
  text-decoration: none;
  box-shadow: 0 5px 5px rgba(0, 30, 92, 0.5019607843);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  position: relative;
}
.wrapper-list-games .container-grid .link-game:hover {
  box-shadow: none;
  border: 1px solid #8b8601;
}
.wrapper-list-games .container-grid .link-game .picture {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
  position: absolute;
  top: 16px;
  left: 16px;
}
.wrapper-list-games .container-grid .link-game .name-game {
  font-size: 20px;
  font-weight: 600;
  color: #001e5c;
  margin: 0 0 10px 92px;
  text-align: center;
}
.wrapper-list-games .container-grid .link-game .description-game {
  font-size: 16px;
  color: #001e5c;
  text-align: center;
  line-height: 1.4;
  margin-top: 48px;
}

@media (min-width: 1441px) {
  .wrapper-list-games .container-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 48px;
  }
}
@media (max-width: 991px) {
  .wrapper-list-games .container-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 32px;
  }
}
@media (max-width: 576px) {
  .wrapper-list-games .container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 5%;
    row-gap: 1rem;
  }
  .wrapper-list-games .container-grid .link-game {
    width: 30%;
    background-color: transparent;
    box-shadow: none;
  }
  .wrapper-list-games .container-grid .link-game .picture {
    position: unset;
    margin-bottom: 0;
  }
  .wrapper-list-games .container-grid .link-game .name-game {
    margin: 1rem auto;
  }
  .wrapper-list-games .container-grid .link-game .description-game {
    display: none;
  }
}
@media (max-width: 480px) {
  .wrapper-list-games .container-grid {
    padding: 16px 32px;
    gap: 6%;
  }
  .wrapper-list-games .container-grid .link-game {
    width: 47%;
  }
  .wrapper-list-games .container-grid .link-game .picture {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 375px) {
  .wrapper-list-games .container-grid {
    padding: 16px;
  }
  .wrapper-list-games .container-grid .link-game {
    padding: 0;
  }
  .wrapper-list-games .container-grid .link-game .picture {
    width: 30px;
    height: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d5d4b3;
  overflow-x: hidden;
  overflow-y: auto;
}

.mt-first-sctn {
  margin-top: 96px;
}

.container-grid {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .mt-first-sctn {
    margin-top: 81px;
  }
}

/*# sourceMappingURL=styles.css.map */
